@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 2rem;
}

.card-anim {
  transition: all 0.3s ease;
}

.card-anim:hover {
  background: hsl(0, 1%, 36%);
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  will-change: transform;
  transform: perspective(1000px) rotateX(4.8deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
  transition: all 0.3s ease;
}
